

html {
  scroll-snap-type: y mandatory;
}

.app {
  /* color: white; */
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  border-radius: 20px;
  height: 600px;
  overflow-y: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}


/* for other  */
.app__videos::-webkit-scrollbar {
  display: none;
}


/* for firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}